# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.eggs/

# Distribution / packaging
dist/
build/
*.egg

# Virtual environment
venv/
.venv/
env/
.env/
# Specific virtual environment names, if used
# my_project_venv/

# Editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3
*.db

# Environment variables
.env
.flaskenv

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook specific
.ipynb_checkpoints/

# Miscellaneous
*~
*.bak